<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="left-section">
      <img
        src="https://logo.clearbit.com/tend.com"
        alt="Tend Logo"
        width="40"
        height="40"
        aria-label="Tend Logo"
        style="margin-right: 8px;"
      />
      <span class="app-title">{{ 'app.title' | translate }}</span>
    </div>

    <div class="mat-spacer"></div>
    @for (option of options; track option.label) {
      <a mat-button [routerLink]="option.link" routerLinkActive="active">{{ option.label | translate }}</a>
    }
    |
    <app-language-switcher />
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet />
<app-footer-content />
